body {
    text-align: center;
}

body, textarea, input {
    font-family: Helvetica, Arial;
    border: none;
}

p {
    text-indent: 1.5em;
}

.section {
    width: 450px;
    margin: auto;
    overflow: auto;
    margin-bottom: 30px;
    padding: 30px;
}

@media (max-width: 700px) {
    .section {
        width: 70%;
    }
    h1 {
        margin-bottom: 60px;
    }
}

.dark {
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: dimgray;
    margin-top: 5rem ;
}

.sectionbody {
    margin-top: 40px;
    text-align: left;
}

.step {
    text-transform: uppercase;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    font-size: 20px;
}

.left {
    width: 45%;
    float: left;
}

.right {
    width: 45%;
    float: right;
}

.password {
    width: 100%;
}

.message {
    width: 100%;
    height: 100px;
}

.submit {
    float: right;
}

.preview {
    margin-top: 30px;
    width: 100px;
    float: right;
}

.hide {
    display: none;
}

#output[src] {
    margin-bottom: 1em;
    box-shadow: 0px 0.5em 1em rgba(0,0,0,0.5);
}

.main-btn-box {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.main-btn-box button {
    background-color: white;
    color: var(--primary-color);
    font-weight: 600;
    padding: 1rem 6rem;
}

input, textarea {
    padding: 1rem;
    margin-bottom: 1rem;
}

.sectionbody button {
    padding: 0.5rem
}